body {
    background-color: #3f3f3f;
}

.home {
    &-wrapper {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 100vw;
    }

    &-container {
    margin: 40px auto;
    max-width: 1300px;
    }

    &-pokecard-container {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 60px;
    }
}