.header {
    &-container {
    margin: 0 auto;
    max-width: 1300px;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        width: 256px;
        height: 256px;
        svg {
            width: 220px;
            height: 220px;
        }
    }

    &-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        svg {
            width: 128px;
            height: 128px;
        }
    }
}